.title {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #38b24b;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;

}

.fullnews {
    margin-top: 80px;
}

.description {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.news__logo {
    width: 600px;
    height: 400px;
}



