body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
.header {
    margin-top: 0px;

}
.container {
    width: 1280px;
    margin: 0 auto;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__menu {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #010406;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header__nav {
    margin-top: 0px;
    background-color: #38b24b;
    height:40px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.header__nav a:hover {
    border-bottom: 1px solid white;
}

.header__nav a:not(:last-child)::after {
    position: relative;
    left: 7px;
    bottom: 2px;

}
.slider {
    margin-top: 40px;
}

.slider .container {
    height: 580px;
    margin-top: 20px;
}

.news {
    margin-top: 40px;
}

.title__section {
    font-size: 32px;
    font-weight: 700;
    color: #43A047;
    text-transform: uppercase;
}

.title__section:hover {
    border-bottom: none;
}

.news__logo {
    width: 380px;
    height: 260px;
}

.news__list {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;

}

.news__onсe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    margin-bottom: 50px;
}

.news__onсe img{
    object-fit: cover;
    width: 380px;
    height: 250px;

}

.news__onсe > span {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;

}

.chempions {
    margin-top: 40px;
}

.chempions__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}

.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
  }

  .circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  footer .container {
    margin-top: 40px;
    display: flex;
    justify-content: right;
  }
  .footer__info {
    background-color: #38b24b;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 50px;

  }
.title {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #38b24b;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;

}

.fullnews {
    margin-top: 80px;
}

.description {
    margin-top: 50px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;

}

.required:after {
    content: '*';
    color: red;
}

.login .container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #555;
    align-content: center;
}

input:focus {
    border: 2px solid #555;
}

.login__field {
    display: block;
    width: 400px;
    margin-top: 20px;
    gap: 40px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #43A047;
}

.post__title {
    font-weight: bold;
    font-size: 40px;
    color: #000;
}

.post__description {
    color: #a2a2a2;
    margin-top: 10px;
    font-size: 12px;
}
.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hide {
    color: #4a5568;
    font-size: 12px;
    margin-top: 5px;
}

.page {
    color: #2f3036;
    font-size: 18px;
}

.page a:hover {
    color: #4CAF50;
}

.hide__page {
    color: #afafaf;
}

.news a:hover {
    color: #4CAF50;
}

.description img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.chempions__list div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name__champion {
    margin-top: 10px;
    color: #2f3036;
    width: 180px;
}

.more__news {
    margin-top: 20px;
}

.more__news a:hover {
    color: #4CAF50;
}
