body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    background: #f8f9fc;
    font-size: 14px;
    min-height: 100%;
}
.header {
    margin-top: 0px;
    top: 0px;
}

.container {
    width: 1280px;
    margin: 0 auto;

}

.header {
    width: 100%;
    height: 50px;
    background: #4CAF50;
    color: white;
    position: fixed;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

h1 {
    font-size: 20px;
}

.header__nav span {
    color: #ececec;
    font-size: 12px;
}

a:hover {
    border-bottom: 1px solid #ffffff;
}

.content {
    margin-top: 100px;
}

.navigation {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.block__navigation {
    width: 200px;
    height: 150px;
    background: white;
    border: solid 1px #eeedee;
}

.block__title {
    height: 40px;
    background: #f8f6f8;
    border: solid 1px #eeedee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #525763;

}

.block__content {
    display: flex;
    flex-direction: column;
    color: #27282b;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    gap: 10px;
}

.block__content a:hover {
    border-bottom: none;
    color: #4CAF50;
}

.avatar {
    display: flex;
    flex-direction: column;
}
.avatar img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    width: 120px;
    height: 120px;


}

.content .container {
    display: flex;
}

h2 {
    color: #525763;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
}
.editor {
    margin-left: 20px;
}

.editor__info {
    margin-top: 40px;
    font-size: 12px;
}

.editor__info p {
    margin-top: 10px;
}


.avatar__form {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.avatar__form button {
    background: #f8f6f8;
    border: solid 1px #eeedee;
    height: 30px;
    width: 80px;
}

.create__post {
    margin-top: 40px;
    width: 800px;


}
.create__post input[type=text] {
    border: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
}

.create__post textarea {
    border: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 80px;
}

.create__post label{
    margin-left: 10px;
    color: #27282b;
    font-size: 14px;
}


.post__button {
    margin-top: 20px;
    background: #f8f6f8;
    border: solid 1px #eeedee;
    height: 30px;
    width: 120px;
}

.errors {
    border: solid 1px #f61111;
    background: #ff5353;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}

.errors li {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.posts {
    margin-top: 20px;
    width: 900px;

}
.post__single {
    height: 40px;
    margin-top: 2px;
    border: solid 1px #eeedee;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__date {
    background: #f8f6f8;
    border: solid 1px #eeedee;
    height: 20px;
    display: flex;
    align-items: center;

}

.post__edit {
    height: 40px;
    background: #f8f6f8;
    border: solid 1px #eeedee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.post__edit a:hover {
        color: #4CAF50;
}

.post__title {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 700px;
}

.photo img {

    width: 300px;
    margin: 0 auto;
    border: 1px solid #4b4b4b;

}

.slider {
    justify-content: center;
    height: 20px;
}

.slider_btn {
    height: 20px;
}

.slider_btn p {
    margin-top: 5px;
}
